/*
Theme for phpBB
Based on xandred by StylerBB.net
Designed by Rikki Tooley http://rikk.it
*/

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);


.title-font, hgroup, .header-font, .post-author-name, .app-bar, .titles {
	font-family: 'Roboto', serif;
}

/* to fix */
.breadcrumbs {
display: none;
}

/* generic */ 

ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

/* reusables */
.clear {
	clear: both;
}

.left { float: left; }

.centre {
	margin: 0 auto;
}

.right { float: right; }

.text-centre {
	text-align: center;
}

.width-full {
   width: 68em;
}

.width-side {
	width: 10em;
}

.width-large {
	margin-left: 11em;
	padding-left: 1em;
}

.width-max {
	width: 100%;
}

.supress-margin {
	margin: 0 !important;
}

/* end of reusables */

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {	
	color: #222;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
	border: 0;
}

input, textarea {
	border: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #222;
	font-size: 15px;
	background-color: #fff;
}

textarea {
	line-height: 1.5em;
}

#main {
	background: rgba(245,245,245,0.94);
	color: #111;
	padding: 2.5em 0 ;
}

#main > .width-full {
	background: #fff;
}

#main img {
	max-width: 100%;
}


/* thread stuff */

.topic-title {
	padding: 3em 12em;
}

ul.posts {
	padding: 0;
	list-style-type: none;
}

li.post-row {
	border-top: 1px solid #ccc;
	padding: 2em;
}

.post-message {
	min-height: 5em;
	line-height: 1.5em;
}

.post-meta {
	max-height: 20em;
	float: left;
	width: 10em;
}

.post-author {
	margin: 0;
	text-align: left;
}

.post-author-avatar {
	max-width: 8em;
	overflow: hidden;
}	

.post-author-avatar a {
	display: block;
	width: 100%;
	height: 100%;
}

.post-author-name {
	font-size: 1.25em;
	margin: 0 0 1em 0;
}

.post-author-signature, .post-author-signature a, .post-author-signature:visited {
	color: #999 !important;
	margin-top: 2em;
}

.post-actions {
	display: none;
}

/* header stuff */

#header {
	height: 26em;
}

#header > a {
	/* to fix the link having height */
	display: block;
	margin-top: -0.3em;
}

#brand-global {
	width: 12em;
}

#brand-logo {
	font-size: 2em;
	width: 6em;
	font-weight: bold;
	text-align: center;
}

#brand-logo > a {
	padding: 0.75em;
}

#header, #brand-logo, #brand-global, #global li a {
position: relative; /* so the overlay effects work */
}

.header-gradient-bottom {
	width: 100%;
	min-height: 4em;
	position: absolute;
	bottom: 0;
	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(84,84,84,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(84,84,84,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(84,84,84,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(84,84,84,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(84,84,84,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(84,84,84,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80545454',GradientType=0 ); /* IE6-9 */
}

.accent-bg, .app-bar {
	background: #900;
}

/* nav menu */

#global {
	width: 100%;
	background: #900;
}

#mission-control {
	position: static;
}

.app-bar > div {
	height: 5em;
}

.app-bar ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.app-bar li {
	float: left;
	position: relative;
	/*box-shadow:	0 2px 2px rgba(0, 0, 0, 0.6);*/
}

.app-bar li > a {
	display: block;
	line-height: 1em;
	padding: 2em;
}

.app-bar li > a.highlight {
	background: #900;
}

.app-bar li > a, #global li > a:visited {
	color: #fff;
	text-decoration: none;
}

.app-bar li > a:hover, #global li > a:active, #global ul li:hover > a {
	background: #fff;
	color: #222;
}

.app-bar .sub-menu {
	display: none;
	position: absolute;
	float: left;
	width: 10em;
	margin-left: 0;
} 

.app-bar ul li:hover .sub-menu {
	display: block;
	background: #efefef;
	box-shadow: 0 2px 3px #111;
}

.app-bar .sub-menu li {
	border-bottom: 1px solid #ccc;
}

.app-bar ul li:hover .sub-menu li a, #global ul li:hover .sub-menu li {
	float: none;
	display: block;
	color: #222;
}

.app-bar ul li:hover .sub-menu li a:hover, #global ul li:hover .sub-menu li a:active {
	background: #ddd;
}

/* post-meta */

#quick-reply {
padding: 0 2em;
}

#quick-reply-submit, #quick-reply > hgroup {
	padding: 3em 0;
}

#quick-reply textarea {
	min-width: 64em;
	width: 100%;
}

.btnmain {
	background-color: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 1em 2em;
}

/* footer */

#footer {
    position: relative;
}

#footer-about {
	margin-top: 12em;
	margin-bottom: 12em;
	background: rgba(245,245,245,0.94);
	padding: 2em;
}

#footer-about p {
	margin: 0 auto;
	text-align: center;
	max-width: 90%;
}

/* BELOW IS XANDRED */

#wrapheader, #wrapfooter {
	padding: 0;
	width: 70em;
	color: #111;
	margin: 0 auto;
	background-color: #FFFFFF;
}

#wrapfooter {
	text-align: center;
	clear: both;
	padding-top: 20px;
	padding-bottom: 30px;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #CFCFCF;
}

.menu-parent > a:after {
	content: ' ↓';
	color: #999;
	font-size: 0.8em;
}

#menubar {
	background: #111; /* Show a solid color for older browsers */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin: 0px;
	font-size: 15px;
	min-height: 45px;
	padding: 0 10px;
	line-height: 45px;
}

#menubar td, #menubar .genmed {
	padding: 0 !important;
	margin: 0 !important;
}

#menubar a {
	color: #eee;
	padding: 15px;
}

#menubar a:hover {
	background: #eee;
	color: #333;
}

.datebar {
	margin-top: 10px;
}

.searchbar, .datebar, .breadcrumbs, .datetime, #pageheader {
	padding: 0 10px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: red;
}


/*  Text
 --------------------- */
h1 { font-size: 2.5em; font-weight: 400; margin-top: 0.5em; margin-bottom: 0.5em;}
h2 { font-size: 2em; font-weight: 400; margin-top: 0.5em; margin-bottom: 0.5em; }
h3 { font-size: 1.5em; font-weight: 400; margin-top: 0.5em; margin-bottom: 0.5em;}
h4 { font-size: 1em; font-weight: 400; margin-top: 0.5em; margin-bottom: 0.5em;}
h5 { font-size: 0.9em; font-weight: 400; }
h6 { font-size: 0.8em; font-weight: 400; }

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
	padding-top: 5px;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
	font-size: 0.8em;
}

.postbody img { max-width: 100%; }

.postbody {
	max-width: 820px;
	width: 95%;
	font-size: 1.1em;
	line-height: 1.5em;
	overflow-x: auto;
	font-family: "Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif;
}



.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
}

.gensmall {
	margin: 1px 1px;
	font-size: 0.9em;
}

.copyright {
	color: #444;
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.titles {
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */
th {
	color: #FFFFFF;
	background-color: #a90000;
	white-space: nowrap;
	padding: 7px 5px;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}

.tablebg {
	background-color: #FFFFFF;
}

.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #C7D0D7;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
}

.row1 {
	background-color: #FFFFFF;
	padding: 4px;
}

.row2 {
	background-color: #FFFFFF;
	padding: 4px;
}

.row3 {
	background-color: #FFFFFF;
	padding: 4px;
}

.row4 {
	background-color: #FFFFFF;
	padding: 0px;
}

.spacer {
	background-color: #DFDFDF;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #DFDFDF;
	color: #DFDFDF;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

a:link, a:active, a:visited {
	color: #444444;
	text-decoration: none;
}

.postbody a:link, .postbody a:active, .postbody a:visited {
	color: #9F0909;
	text-decoration: none;
	
	
}

.postbody a:hover {
	color: #9F0909;
	text-decoration: underline;
}


a:hover {
	color: #B90000;
	text-decoration: none;
}

a.forumlink {
	color: #444444;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

a.forumlink:hover {
	color: #B90000;
}

a.topictitle {
	margin: 1px 0;
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

a.topictitle:visited {
	color: #444444;
	text-decoration: none;
}

th a,
th a:visited {
	color: #FFA34F !important;
	text-decoration: none;
}

 a:hover {
	text-decoration: none;
}


/* Form Elements
 ------------ */


select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13.2px;
	border: 1px solid #CFCFCF;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #F4F0E7;
	border: 1px solid #666666;
}



.btnfile {
	font-weight: normal;
	background-color: #F4F0E7;
	border: 1px solid #CFCFCF;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #DFDFDF;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #CFCFCF;
	color: #333333;
	background-color: #CFCFCF;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #CFCFCF;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	color: #4B5C77;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #CFCFCF;
	color: #333333;
	background-color: #CFCFCF;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #CFCFCF;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #006600;
	font-size: 0.85em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #FAFAFA;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #CFCFCF;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}





@import url("medals.css");